.index {
	display: flex;
}

.watch {
	color: #292C2E;
	font-size: 20px;
	margin: 28px;
	font-family: YouYuan;
}

.main-page {
	margin-left: 42%;
	cursor: pointer;
}

.title {
	display: flex;

	text-decoration:none;
	margin-left: 16%;
}

.collapsible-body b {
	color: gray;
}

.collapsible-body i {
	color: gray;
}